.footer{
    background: cyan;
    height:50%;
}
.nesto{
    background: darkolivegreen;
    

}
.my_nav{
    background-color:darkorange;
}
body{
    background-color:lightcoral;
    font-family: 'Roboto', sans-serif;
}