
.nesto{
    border-style: ridge;
}

.user_info{
    background-color: rgba(52,58,64,1);
    /*box-shadow:-5px 5px 10px gray;*/
}
.reservations_p{
    background-color:  rgba(52,58,64,1);
    box-shadow:5px 5px 10px gray;
}
.settings{
    background-color: rgba(52,58,64,1);
    box-shadow:5px 5px 10px gray;
}

.kartice{
    background-color: #505458;
}

body{
    background: rgb(52,58,64);
    background: radial-gradient(circle, rgba(52,58,64,1) 0%, rgba(28,30,32,1) 100%);
    font-family: 'Roboto', sans-serif;
    color: white;
}
.footer{
    height:10%; 
    bottom:0;
    left:0;
}

.navigacija
{
    height: 1%;
    position: sticky;
    top: 0;
    padding-bottom: 1%;
}

.navigacija a
{
    text-decoration: none;
}

.navigacija a:link
{
    color:white;
}

.navigacija a:visited
{
    color:white;
}

.navigacija a:hover
{
    color:black;
}

.navigacija a:active
{
    color:black;
    font-weight: bolder;
}